server:
  port: 8080
springdoc:
  swagger-ui:
    operationsSorter: method
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/education_for_everyone
    username: root
    password: parola
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
  # Hibernate ddl auto (create, create-drop, validate, update)
  sql:
    init:
      mode: always
      platform: mysql

  mail:
    host: smtp.gmail.com
    port: 587
    username: tutoriale.modelare.3d.tw@gmail.com
    password: iubesc_modelarea_3d
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  # ca sa ne conectam la keycloak
keycloak:
  realm: education_for_everyone
  resource: project-client #se refera la client
  public-client: true
  auth-server-url: http://localhost:8080/auth
  bearer-only: true
  ssl-required: none

  #pentru ca sa ne conectam ca admin sa putem modifica chestii in keycloak (interfata de unde modificam noi manual)
admin-keycloak:
  username: admin
  password: admin
  realm: master
  client: admin-cli
